/* CSS RESET */
html,
body,
div,
span,
p,
a,
ol,
ul,
li,
footer,
header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*MAIN STYLING*/

html {
  height: 100vh;
  font-family: "Inter", sans-serif;
}

body {
  background-color: rgb(15 23 42);
  color: rgb(226, 232, 240);
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
  gap: 0.5rem;
  border-bottom-color: rgba(248, 250, 252, 0.4);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.logo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  transition-duration: 8s;
  transition-property: transform;
}
.logo:hover {
  transform: rotate(3600deg);
  -webkit-transform: rotate(3600deg);
}
main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-image: url("./images/bg.avif");
  background-size: 100% 100%;
}

@media only screen and (min-width: 700px) {
  header {
    flex-direction: row;
    padding: 0.5rem 3rem;
  }
}
